[submodule "glew"]
	path = glew
	url = https://gh-proxy.com/github.com/linjonh/ffmpeg-lib-glew.git
[submodule "ffmpeg-android-maker"]
	path = ffmpeg-android-maker
	url = https://gh-proxy.com/github.com/linjonh/ffmpeg-my-android-ffmpegmaker.git
[submodule "ffmpeg-source"]
	path = ffmpeg-source
	url = https://gh-proxy.com/github.com/linjonh/ffmpeg-source-with-gltransition.git
